@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.first-section {
    max-width: 80%;
    margin: auto;
    color: #FFFFFF;

    &__header {}

    &__wrapper {
        display: flex;
        gap: 50px;
    }

    &__header-left {
        background-color: red;
        width: 33.47%;
        padding-top: 50%;
        position: relative;
    }

    &__poster {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__header-right {
        width: 67%;
    }

    &__location {
        color: #4F5B7C;
        font-weight: 500;
        font-size: 16px;
        line-height: 168.7%;
        display: flex;
        gap: 10px;
    }

    &__location-item {

        &_active {
            color: #FFFFFF;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
        line-height: 83px;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    &__txt {
        font-size: 20px;
        margin-top: 20px;
        line-height: 166.5%;
    }

    &__actions {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    &__actions-btn {
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        width: 260px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 166.5%;
        margin-right: 37px;
    }

    &__actions-share {
        margin-right: 20px;
    }

    &__header-bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__header-bottom-icon {
        cursor: pointer;

        &_dislike {
            rotate: 180deg;
        }
    }

    &__header-bottom-rating {
        width: 185px;
        height: 59px;
        background: #1B2133;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #57D043;
        position: relative;

        &::after {
            content: '';
            display: block;
            background: #2E612590;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            height: 100%;
        }
    }

    &__header-bottom-txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    &__main {}

    &__footer {}
}